@import "tailwindcss";

@theme {
  --font-nohemi: "Nohemi", sans-serif;
}

@theme {
  --color-dark: #020A16;
  --color-light: #EDEFF2;
  --color-accent: #2C77E4;
  --color-dark-accent: #031B3D; 
  --color-gray: #DCE0E5;
}

@font-face {
  font-family: 'Nohemi';
  src: url('/fonts/Nohemi-Black.woff2') format('woff2');
  font-weight: 900;
}

@font-face {
  font-family: 'Nohemi';
  src: url('/fonts/Nohemi-Bold.woff2') format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'Nohemi';
  src: url('/fonts/Nohemi-ExtraBold.woff2') format('woff2');
  font-weight: 800;
}

@font-face {
  font-family: 'Nohemi';
  src: url('/fonts/Nohemi-ExtraLight.woff2') format('woff2');
  font-weight: 200;
}

@font-face {
  font-family: 'Nohemi';
  src: url('/fonts/Nohemi-Light.woff2') format('woff2');
  font-weight: 300;
}

@font-face {
  font-family: 'Nohemi';
  src: url('/fonts/Nohemi-Medium.woff2') format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'Nohemi';
  src: url('/fonts/Nohemi-Regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Nohemi';
  src: url('/fonts/Nohemi-SemiBold.woff2') format('woff2');
  font-weight: 600;
}

@font-face {
  font-family: 'Nohemi';
  src: url('/fonts/Nohemi-Thin.woff2') format('woff2');
  font-weight: 100;
}


html,body {
  overflow-x: hidden;
}

body {
  font-family: var(--font-nohemi);
  background-color: var(--color-dark);
  color: var(--color-light);
  min-height: 100dvh;
}

h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

h2 {
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0%;
}

h3 {
  font-weight: 500;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: 0%;
}

h4 {
  font-weight: 500;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

h5 {
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0%;
}

h6 {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 5%;
}
